  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height : 100vh;
    margin: 0;
    background-image: url(https://frutiger-aero.org/img/haa-3.webp);
    background-size: cover;
    
  }
  .welbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    border: 6px solid lightblue;
    background-color: rgba(255, 255, 255, 0.8);
  }
  